*{
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;
	font-family: Arial;
	text-align: center;
	height: 100%;
	background-size: cover;
	background-image: url("https://s.yimg.com/fz/api/res/1.2/vLHfPohXSV8pgDBemnuOQg--/YXBwaWQ9c3JjaGRkO2g9NTUwO3E9OTU7dz01NTA-/http://www.designbolts.com/wp-content/uploads/2013/05/Free-High-Quality-Tileable-Seamless-Grass-Texture.jpg") repeat;
  	background-position: center;
	background-attachment: fixed;
	width: 100%;
  	height: 100%;
}

p {
	font-size: 10px;
}

body img {
	
}

form p {
	margin: 0;
	color: grey;
	text-align: left;
}
/*UPDATE CONTENT*/
form {
	margin-top: 10%;
	border-radius: 3px;
	text-align: left;
	width: 100%;
	font-size: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* END UPDATE CONTENT*/
header {
	height: 35%;
	width: 100%;
	background-color: grey;
	padding: 10px;
}

input {
	width: 50%;
	height: 4.5%;
	border-radius: 5px;
	background-color: #d3d3d3;
	color: red;
	width: 100%
	height: 20px;
	border-radius: 5px;
	background-color: #d3d3d3;
	color: red;
	align-text: left;
	float: right;
}


select {
	width: 50%;
	height: 4.5%;
	border-radius: 5px;
	background-color: #d3d3d3;
	color: red;
	float: right;
}

header img {
	height: 100%;
	width: auto;
}

#sidebar {
	display: inline;
	float: right;
	width: 25%;
	height: 90%;
	padding: 0px;
	margin-right: 5%;
}

#sidebar h1, p{
	font-size: 125%;
	line-height: 200%;
}

#hole_info {
	height: 200px;
	width: 100%;
	float: right;
	margin-top: 15%;
	display: inline-block;	
}

#hole_number {
	height: 50%;
	width: 100%;
	background-color: #B0B0B0;
	padding-top: 5%;
}

#par {
	height: 49%;
	width: 49%;
	display: inline-block;
	background-color: white;
	float: left;
	margin-top: 1px;
	padding-top: 5%;
}

#result {
	height: 49%;
	width: 49%;
	display: inline-block;
	background-color: white;
	float: right;
	margin-top: 1px;
	padding-top: 5%;
}

#yardage {
	height: auto;
	width: 100%;
	background-color: #ffffff;
	border: solid 1px;
	border-color: black;
	float: right;
	margin-top: 25%;
	display: inline-block;
	padding: 0px;	
	font-size: 100%;
	border-radius: 3px;	
	padding-top: 2%;
	padding-bottom: 2%;
}

footer {
	height: 10%;
	width: 100%;
	position: absolute;
    	bottom: 0;
	margin: 0px;
	background-color: #B0B0B0;
}

#footer-nav {
	height: 100%;
	width: 100%;
	display: inline-block;
}

#footer-button {
	width: 20%;
	height: 50%;
	background-color: grey;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
    	bottom: 0;
	border-radius: 3px;
	box-shadow: 1px 2px 2px #000000;
	
}

#footer-button h5 {
	color: white;
	font-size: 125%;
	line-height: 200%;
}

/* UPDATED CONTENT */
#current-user {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	font-size: 14px;
	border: solid 1px;
	border-color: black; 
	padding: 10px;
	height: 3%;
	border-radius: 5px;
	margin-top: 10px;
}

#current-user p {
	font-size: 150%;
	float: left;
}

#new-user-form {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	height: 75%;
}

#new-user-form  p {
	font-size: 18px;
	margin-top: 10%;
}
/* END UPDATED CONTENT */

a {
	font-size: 12px;
}

/* UPDATED CONTENT */
#current-user input {
	width: 25%;
	height: 100%;
	float: right;
	font-size: 150%;
}
/* END UPDATED CONTENT */

#forgot-password-email input {
	width: 100%;
	height: 15%;
	border-radius: 5px;
	background-color: #d3d3d3;
	color: red;
	width: 100%
}
/* UPDATED CONTENT */
#buttons input {
	width: 100%;
	height: auto;
	font-size: 150%;
	border-radius: 50px;
	background-color: Red;
	color: black;
}

table {
	border-collapse: collapse;
	text-align: center;
	border: 1px solid black;
	width: 90%;
	height: 50%;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
}

tr, td {
	border-collapse: collapse;
	text-align: center;
	border: 1px solid black;
	width: auto;
	padding: 2px;
	font-size: 100%;
}
/* END UPDATED CONTENT */
 
#round-history-header {
	width: 100%;
	font-size: 14px;
	height: 35px;
	text-align: center;
	background-color: #d3d3d3;
}

#round-summary-details {
	width: 90%;
	height: auto;
	border: 1px black solid;
	border-radius: 10px;
	background-color: #d3d3d3;
	margin-left: auto;
	margin-right: auto;
}

#comments input{
	width: 100%;
	height: 15%;
	border-radius: 5px;
	background-color: #d3d3d3;
	color: red;
	width: 100%
	padding: 5px;
}
/*UPDATED CONTENT*/
#profile-edit-toolbar {
	width: 100%;
	height: auto;
	margin-top: 2%;
}

#profile-edit-content {
	width: 30%;
	height: auto;
	border: 1px #d3d3d3 solid;
	display: inline-block;
	font-size: 100%;
	border-radius: 10px;
	background-color: #d3d3d3;
}
/*END UPDATED CONTENT*/
#comments-section {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


/*TESTING GIT --Nikhil 
TEST 2

TEST 3

TEST 4

TEST 5

TEST 6

TEST 7

TEST 8

TEST 9
*/

/testing git - Julie
/*zhenxu*/

